<pre class="eno-report"><div class="eno-report-line "><div class="eno-report-gutter">      Line</div><div class="eno-report-content">Content</div></div><div class="eno-report-line "><div class="eno-report-gutter">         1</div><div class="eno-report-content">&gt; comment</div></div>
<div class="eno-report-line eno-report-line-emphasized"><div class="eno-report-gutter">         2</div><div class="eno-report-content"># section</div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">         3</div><div class="eno-report-content"></div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">         4</div><div class="eno-report-content">field: value</div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">         5</div><div class="eno-report-content"></div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">         6</div><div class="eno-report-content">field_with_items:</div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">         7</div><div class="eno-report-content">- item</div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">         8</div><div class="eno-report-content">- item</div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">         9</div><div class="eno-report-content"></div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">        10</div><div class="eno-report-content">&gt; comment</div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">        11</div><div class="eno-report-content">- item</div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">        12</div><div class="eno-report-content"></div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">        13</div><div class="eno-report-content">## subsection</div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">        14</div><div class="eno-report-content"></div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">        15</div><div class="eno-report-content">field_with_attributes:</div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">        16</div><div class="eno-report-content">attribute = value</div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">        17</div><div class="eno-report-content"></div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">        18</div><div class="eno-report-content">&gt; comment</div></div>
<div class="eno-report-line eno-report-line-indicated"><div class="eno-report-gutter">        19</div><div class="eno-report-content">attribute = value</div></div></pre>